[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
werkzeug = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
markupsafe = "*"
flask-marshmallow = "*"
flask-rest-paginate = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.10"
